
<div class="control-group">
    <label class="control-label" for="Beschreibung">Beschreibung</label>
    <input id="Beschreibung" name="Beschreibung" type="text" placeholder="z.B. VW Polo" class="input-xlarge" ng-model="aa.beschreibung">
</div>
<div class="control-group">
    <label class="control-label" for="PS">PS</label>
    <input id="PS" name="PS" type="text" placeholder="z.B. 103" class="input-xlarge" ng-model="aa.ps">
</div>
<div class="control-group">
    <label class="control-label" for="Sitzanzahl">Sitzanzahl</label>
    <input id="Sitzanzahl" name="Sitzanzahl" type="text" placeholder="z.B. 4" class="input-xlarge" ng-model="aa.sitzanzahl">
</div>
<div class="control-group">
    <label class="control-label" for="Kofferraumvolumen">Kofferraumvolumen</label>
    <input id="Kofferraumvolumen" name="Kofferraumvolumen" type="text" placeholder="z.B. 60" class="input-xlarge" ng-model="aa.kofferraumvolumen">
</div>

<div class="control-group">
    <label class="control-label" for="Kraftstoffverbrauch">Kraftstoffverbrauch</label>
    <input id="Kraftstoffverbrauch" name="Kraftstoffverbrauch" type="text" placeholder="z.B. 5.5" class="input-xlarge" ng-model="aa.kraftstoffverbrauch">
</div>
<div class="control-group">
    <label class="control-label" for="pjk">Preis je Kilometer</label>
    <input id="pjk" name="Kraftstoffverbrauch" type="text" placeholder="z.B. 3.4" class="input-xlarge" ng-model="aa.pjk">
</div>


<div class="control-group">
    <label class="control-label" for="Kraftstoff">Kraftstoff</label>
    <select ng-model="aa.ks">
        <option ng-repeat="k in ks" ng-selected="aa.ks==k.id" value="{{k.id}}">{{k.name}}</option>
    </select>

</div>
<div class="control-group">
    <label class="control-label" >Marke</label>
    <select ng-model="aa.marke">
        <option ng-repeat="marke in marken" ng-selected="aa.marke==marke.id" value="{{marke.id}}">{{marke.name}}</option>
    </select>


</div>

<div class="control-group">
    <input type="submit" class="btn btn-primary" value="Speichern" />
</div>

