<div class="row">
    <div class="col-md-2">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Markenname</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Marke in Marken">
                <th>{{Marke.item[0].$value;}}</th>
                <th>{{Marke.item[1].$value;}}</th>
                <th><a href="#/marken/{{Marke.item[0].$value}}" class="btn btn-default">bearbeiten</a></th>
            </tbody>
        </table>
        <a href="#/marken/new" class="btn btn-default" >Neue Marke anlegen</a>

    </div>

</div>